@use '../abstracts' as *;

header {
    display: flex;
    justify-content: space-between;
    .logo {
        font-size: 1.625rem;
        font-weight: $bold;
        line-height: normal;
        color: var(--header-and-searchform-input-text);
        transition: color 1s;
    }
    .theme {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
    }
    .change-theme-to-dark {
        font-size: 0.813rem;
        font-weight: $bold;
        line-height: normal;
        letter-spacing: 0.156rem;
        color: var(--text);
        display: var(--dark-word-display);
        transition: color 1s, display 1s;
    }
    .change-theme-to-light {
        @extend .change-theme-to-dark;
        color: var(--text);
        display: var(--light-word-display);
        transition: color 1s, display 1s;
    }
    .sun {
        display: var(--sun-icon-display);
        transition: display 1s;
    }
    .moon {
        display: var(--moon-icon-display);
        transition: display 1s;
    }
}