@use '../abstracts' as *;

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
        font-size: 1.625rem;
        font-weight: $bold;
        line-height: normal;
        color: var(--header-and-searchform-input-text);
        transition: color 1s;
    }
    .theme {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
    }
    .theme-name {
        font-size: 0.813rem;
        font-weight: $bold;
        line-height: normal;
        letter-spacing: 0.156rem;
        text-transform: uppercase;
        color: var(--text);
    }
    .sun {
        display: var(--sun-icon-display);
        transition: display 1s;
    }
    .moon {
        display: var(--moon-icon-display);
        transition: display 1s;
    }
}